# Ambientes virtuais
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]

# Banco de dados local (para não enviar seus testes para o GitHub)
instance/
*.db

# Arquivos de sistema e IDE
.vscode/
.idea/
.DS_Store