
/* Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Fundo rosinha */
body {
    background: linear-gradient(135deg, rgb(255, 224, 236), rgb(255, 193, 217));
    min-height: 100vh;
    padding: 80px;
    display: flex;          
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(20, 241, 35);
}

/* títulos */
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: rgb(14, 235, 10);
    text-shadow: 0 0 8px rgba(0, 255, 106, 0.6);
}

/* conteúdo em colunas */
.content,
main,
section {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(243, 76, 184, 0.381);
    column-count: 2;       /* 2 colunas para organizar o conteúdo */
    column-gap: 40px;
    max-width: 900px;
    width: 100%;
}

/* inputs */
input,
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgb(243, 165, 196);
    outline: none;
    font-size: 1rem;
    color: rgb(0, 0, 0);
}

/* botão */
button {
    background-color: rgb(14, 235, 10);
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 255, 106, 0.6);
}

/* tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    break-inside: avoid;
}

th {
    background-color: #ff8fc4;
    color: #0a0a0a;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #f3a5c4;
}

tr:hover {
    background-color: #ffe6f0;
}

/* links */
a {
    background-color: #00ff6a;
    color: #050405;
    padding: 2px 8px;
    border-radius: 20px;
    font-size: 0.6rem;
    box-shadow: 0 10px 25px rgba(0, 255, 106, 0.4);
    transition: 0.3s;
    text-decoration: none;
}

a:hover {
    transform: scale(1.06);
    box-shadow: 0 0 16px rgba(0, 255, 106, 0.8);
}

