{% extends "base.html" %}

{% block content %}
<form method="post">
    <input type="text" name="titulo_tarefa"
    id="titulo_tarefa" placeholder="Título da Tarefa"
    required>

    <input type="date" name="data_conclusao" 
    id="data_conclusao">
    <button type="submit">Adicionar Tarefa</button>
</form>

<h2>Lista de Tarefas</h2>

{% if tarefas %}

    <ul>
    {% for tarefa in tarefas %}
        <li type="tarefas-lista">{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao}} <a href= "{{ url_for('delete', idTarefa= tarefa.id_tarefa)}}" >Apagar</a></li>
    {% endfor %}
    </ul>

{% else %}

    <p>Nenhuma tarefa cadastrada</p>

{% endif %}

{% endblock %}

<!-- Métodos HTTP:
GET: "Pega" (recupera/obtém) as informações. (READ)
POST: "Envia" (cadastra/inclui/adiciona) as informações. (CREATE)
UPDATE: "Atualiza" as informações. (UPDATE)
PATCH: "Atualiza" parte das informações.(PARTIAL UPDATE)
DELETE: "Deleta" as informações (DELETE)

CRUD -> CREATE, READ, UPDATE, DELETE
-->

<!--Códigos de Retorno:
2xx: Sucesso 
3xx: Redirecionamento
4xx: Erro Não Encontrado (falha de Requisição)
5xx: Erro do Servidor (falha da resposta) 
-->