{% extends "base.html" %}

{% block content %}
<form class= "mt-3" method="post">
    <div class = "mt- 3">
    <label for="titulo-tarefa" class="form-label">Título da Tarefa</label>
    <input type="text" class="form-control" name="titulo_tarefa" id="titulo-tarefa" aria-describedby="ajudaNomeTarefa" value="{{tarefa_selecionada.titulo_tarefa if tarefa_selecionada else ''}}" required>
    <div id="ajudaNomeTarefa" class="form-text">Use um nome de tarefa que seja descritivo.</div>
    </div>

    <input type="date" class = "form-control" name="data_conclusao" id=" data-conclusao"
    value=" {{tarefa_selecionada.data_conclusao if tarefa_selecionada else ''}}"
    id="data_conclusao">
    <button type="submit">Salvar</button>

    {% if tarefa_selecionada %}
        <a href="{{ url_for('agenda') }}" class="btn btn-secundary">Voltar</a>
    {% endif %}
</form>

<h2>Lista de Tarefas</h2>

{% if tarefas %}

    <ul>
    {% for tarefa in tarefas %}
        <li type="tarefas-lista">{{ tarefa.titulo_tarefa }} - {{ tarefa.data_conclusao}} <a href= "{{ url_for('delete', idTarefa= tarefa.id_tarefa)}}" >Apagar</a></li>
        <a href="{{ url_for('update', idTarefa = tarefa.id_tarefa)}}">Editar</a>
        <!-- Controle para editar -->
    {% endfor %}
    </ul>

{% else %}

    <p>Nenhuma tarefa cadastrada</p>

{% endif %}

{% endblock %}

<!-- Métodos HTTP:
GET: "Pega" (recupera/obtém) as informações. (READ)
POST: "Envia" (cadastra/inclui/adiciona) as informações. (CREATE)
UPDATE: "Atualiza" as informações. (UPDATE)
PATCH: "Atualiza" parte das informações.(PARTIAL UPDATE)
DELETE: "Deleta" as informações (DELETE)

CRUD -> CREATE, READ, UPDATE, DELETE
-->

<!--Códigos de Retorno:
2xx: Sucesso 
3xx: Redirecionamento
4xx: Erro Não Encontrado (falha de Requisição)
5xx: Erro do Servidor (falha da resposta) 
-->